<!-- <!doctype html>
<html ng-app="holidayPack" class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HolidayPackage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/flatpickr.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="core.js"></script>
    <script src="js/plugins.js"></script>
    <script src="/node_module/select2/dist/js/select2.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/flatpickr.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-controller="mainController">
    
    <div ng-include="'public/footer.html'">
    </div>
</body>

</html> -->
    
    <div class="holiday-search-area">
        <div class="holiday-search-block">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4 col-md-2">
                            <select wb-select2 ng-options="data.departure as  data.departure  for data in departure" ng-model="depselect" ng-change="getDesti(depselect)">
                                    <option value="" disabled ng-selected="true">Departure City</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-md-3">
                            <select wb-select2 ng-options="data.destination for data in destination" ng-model="sendData.desselect">
                                    <option value="" disabled ng-selected="true">Destination</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <input class="form-control datepicker" ng-model="sendData.date" id="departure" type="text" placeholder="Departure">
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <button type="submit" class="btn btn-01" ng-click="GetallHolidayDeal(sendData)">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="holiday-list-area">
        <div class="holiday-list-block">
            <div class="container">
                <h1>Holiday Packges departing from {{departureName}}</h1>
                <table>
                    <thead>
                        <tr class="searchHeader">
                            <th ng-click="sortBy('date_from')">Travel Date</th>
                            <th>Agency</th>
                            <th ng-click="sortBy('price')">Price</th>
                            <th ng-click="sortBy('departure')">Departure</th>
                            <th ng-click="sortBy('destination')">Destination</th>
                            <th ng-click="sortBy('title')">Package Name</th>
                            <th ng-click="sortBy('nights')">Nights</th>
                            <th ng-click="sortBy('purchase_by')">Purchase By</th>
                            <th>Quad pp*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="val in dealData | orderBy:dealName:reverse">
                            <td data-th="Travel Date"><strong>{{val.date_from | date:'dd MMM yyyy'}} - {{val.date_to | date:'dd MMM yyyy'}}</strong></td>
                            <td data-th="Agency"><img src="images/img_agency_01.gif" alt="Princess Cruise"></td>
                            <td data-th="Price" class="price">${{val.price}}</td>
                            <td data-th="Departure">{{val.departure}}</td>
                            <td data-th="Destination">{{val.destination}}</td>
                            <td data-th="Package Name">{{val.title}}</td>
                            <td data-th="Nights">{{val.nights}}</td>
                            <td data-th="Purchase By">{{val.purchase_by | date:'dd MMM yyyy'}}</td>
                            <td data-th="Quad pp*"><a href="#" class="btn btn-01">VIEW</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
