<div class="subscription-area">
    <div class="subscription-block">
        <div class="container">
            <div class="subscription-content">
                <div class="row center-sm">
                    <div class="col-sm-12 col-md-10">
                        <div class="row start-sm middle-sm">
                            <div class="col-sm-6">
                                <h3>Get Holiday Packages to your Inbox</h2>
                            </div>
                            <div class="col-sm-6">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" placeholder="Email Address" />
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-01">SUBSCRIBE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="holiday-list-area">
    <div class="holiday-list-block">
        <div class="container">
            <h1>Holiday Packges departing {{departureName}} <span ng-show="desselect">to {{desselect.destination}}</span> <span ng-show="date">{{date}}</span></h1>
            <!-- <h1>Holiday Packages from {{departureName}} to {{Destination}} || from {datefrom } to {dateto}</h1> -->
            <table>
                <thead>
                    <tr class="searchHeader">
                        <!-- <th>Index</th> -->
                        <th ng-click="sortBy('date_from')">Travel Date</th>
                        <th>Agency</th>
                        <th ng-click="sortBy('price')">Price</th>
                        <th ng-click="sortBy('departure')">Departure</th>
                        <th ng-click="sortBy('destination')">Destination</th>
                        <th ng-click="sortBy('title')">Package Name</th>
                        <th ng-click="sortBy('nights')">Nights</th>
                        <th ng-click="sortBy('purchase_by')">Purchase By</th>
                        <th>Quad pp*</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- track by $index -->
                    <tr ng-repeat="val in dealData  | orderBy:dealName:reverse | limitTo:10">
                        <!-- <td>{{$index + 1 }}</td> -->
                        <td data-th="Travel Date"><strong>{{val.date_from | date:'dd MMM yyyy'}} - {{val.date_to | date:'dd MMM yyyy'}}</strong></td>
                        <td data-th="Agency"><img src="images/img_agency_01.gif" alt="Princess Cruise"></td>
                        <td data-th="Price" class="price">${{val.price}}</td>
                        <td data-th="Departure">{{val.departure}}</td>
                        <td data-th="Destination">{{val.destination}}</td>
                        <td data-th="Package Name">{{val.title}}</td>
                        <td data-th="Nights">{{val.nights}}</td>
                        <td data-th="Purchase By">{{val.purchase_by | date:'dd MMM yyyy'}}</td>
                        <td data-th="Quad pp*"><a href="#" class="btn btn-01">VIEW</a></td>
                    </tr>
                    <tr ng-show="!dealData.length">
                        <td colspan="9">No deals found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<div class="packages-area">
    <div class="packages-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="head">
                        <div class="row between-sm middle-sm">
                            <div class="col-title">
                                <h2><span>This Week Top</span>Holidays Packages</h2>
                            </div>
                            <div class="col-link">
                                <a href="#">VIEW ALL PACKAGES</a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-slider">
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slides">
                                <div class="item">
                                    <h3>Siem Reap to Ho Chi Mich</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>
                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-slides">
                                <div class="item">
                                    <h3>{{val.title}}</h3>
                                    <div class="package-slider">
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                        <div class="slides">
                                            <figure><img class="img-responsive" src="images/package_01.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                    <p><strong>7 Nights</strong> on River Cruise Ship</p>
                                    <span>Departs 14 Feb 2017</span>
                                    <div class="price">
                                        <div class="price-content">
                                            <small>Twin Cabin from</small><span>$1348</span>/per person
                                        </div>
                                    </div>

                                    <div class="buttonset">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-02">LUXURY RIVER CRUISE</a>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <a href="#" class="btn btn-01">VIEW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <figure><img src="https://placeholdit.imgix.net/~text?txtsize=36&txt=300×680&w=300&h=680" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="holiday-area">
    <div class="holiday-block">
        <div class="container">
            <h2>Holiday Destinations</h2>
            <div class="holiday-slider">
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_01.jpg" alt=""></figure>
                        <p>South Pacific</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_02.jpg" alt=""></figure>
                        <p>South Pacific</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_03.jpg" alt=""></figure>
                        <p>Alaska</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_04.jpg" alt=""></figure>
                        <p>Mediterranean</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_01.jpg" alt=""></figure>
                        <p>Australia &amp; NZ</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_02.jpg" alt=""></figure>
                        <p>South Pacific</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_03.jpg" alt=""></figure>
                        <p>Alaska</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="content">
                        <figure><img class="img-responsive" src="images/holiday_04.jpg" alt=""></figure>
                        <p>Mediterranean</p>
                        <a href="#" class="btn btn-01">VIEW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="client-area">
    <div class="client-block">
        <div class="container">
            <div class="head text-center">
                <h2>Who do we<span>Offer travel deals from ?</span></h2>
            </div>
            <div class="content">
                <ul class="list-inline text-center">
                    <li>
                        <figure><img src="images/client_01.gif" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="images/client_02.gif" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="images/client_03.gif" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="images/client_04.gif" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="images/client_05.gif" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="images/client_06.gif" alt=""></figure>
                    </li>
                    <li>
                        <figure><img src="images/client_07.gif" alt=""></figure>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-sm-9">
                        <article>
                            <div class="title">
                                <h3><span>Find A Cheap Cruise</span> With Australia's Trusted Cruise Specialists</h3>
                            </div>
                            <div class="text">
                                <p>Welcome to Cruise Sale Finder, the most comprehensive source of<strong><u>cruise sales</u></strong>,<strong><u>last minute deals</u></strong>,<strong><u>cruise news</u></strong>, and<strong><u>cruise ship reviews</u></strong>.
                                    Our commitment to you is an intuitive, convenient and secure booking engine to help you find exactly what you are looking for at a price that can't be beat. Backed by our knowledgeable and friendly staff, we offer fantastically
                                    cheap cruises and the most phenomenal customer service you can find in Australia.</p>
                                <p>Whether you're new to cruising or a veteran of the high seas, we can help you find the perfect ocean getaway within Australia, further afield to the<strong><u>South Pacific</u></strong>,<strong><u>Pacific Islands</u></strong>,<strong><u>Fiji</u></strong>,<strong><u>Hawaii</u></strong>,<strong><u>New Zealand</u></strong>,
                                    or beyond the pacific to the Caribbean, Mediterranean or<strong><u>Alaska's</u></strong> the list goes on and on. You could even try your hand at<strong><u>River Cruising</u></strong>, to give you a different perspective
                                    of the cities in Europe.</p>
                                <p>Finding a cruise that suits your needs has never been so easy. Our advanced<strong><u>cruise finder</u></strong> combines the best cruise sales from the most popular cruise lines, while the menu of more than 4000 cruise
                                    itineraries across 21 lines means we always have you covered, no matter what time of year you wish to holiday.<strong><u>P&amp;O cruises from Sydney</u></strong> to<strong><u>Royal Caribbean</u></strong>,<strong><u>Princess Cruise Deals</u></strong>,<strong><u>Norwegian Cruise Line</u></strong>,<strong><u>Carnival Cruise Deals</u></strong>,<strong><u>Holland America</u></strong>,<strong><u>Celebrity Cruises</u></strong>,<strong><u>Cunard</u></strong>                                    and many more, our lowest-price guarantee and Layby Options should make Cruise Sale Finder your first port of call for cheap cruises.</p>
                                <h4>Cruise reviews from the experts</h4>
                                <p>Who knows cruising best? People just like you. Browse through hundreds of<strong><u>customer cruise reviews</u></strong> and get an idea of what a cruise ship has to offer your particular style. Learn what the cabins, food,
                                    ports and overall atmosphere is like on each of the vessels. You may be surprised by what you read!</p>
                                <h4>Find a cruise on CruiseSaleFinder that's perfect for you</h4>
                                <p>Not sure where to begin? With the growing variety and options for cruising in Australia, it's not always easy to choose. Take Cruise Sale Finder's<strong><u>cruise personality quiz</u></strong> and figure out what cruise
                                    lines and itineraries might suit based on your personal preferences. You can also head over to the<strong><u>cruise blog</u></strong> for advice on anything from packing tips and specialty dining, to
                                    <strong><u>cruising with kids</u></strong> and<strong><u>group cruising</u></strong> whether you be after a<strong><u>last minute cruise from Brisbane</u></strong>, or are booking early for one of the many other
                                    <strong><u>cruises from Australia!</u></strong></p>
                                <h4>Backed by a team of cruise loving professionals</h4>
                                <p>Between our rapidly growing team of<strong><u>experienced consultants</u></strong> and<strong><u>cruise mascots</u></strong> Merl and Pearl, there is a lot of cruise love to go around. Whether you need help choosing a cabin,
                                    booking during school holidays or just need general advice about when and where to go, we have the answers and are here to help! Let's get cruising.</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-3">
                        <figure><img src="https://placeholdit.imgix.net/~text?txtsize=36&txt=320×720&w=320&h=720" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>